.search-bar-container{
    margin-top: 100px;
    width: 100%;
    height: 240px;
    position: relative;
}

.search-bar{
    position: absolute;
    background-image: url(https://www.darmankade.com/_nuxt/img/5ef8034.png);
    background-size: cover;
    background-color: #1780df;
    height: 100%;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px!important;
} 

.search-bar h1{
    text-align: center;
    position: absolute;
    font-weight: 40px;
    color: white;
    width: 100%;
    margin-top: 40px;
    font-size: 40px ;
} 

.serch-input-group{
    position: absolute;
    width: 60%;
    height: 60px;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
}

.serch-input-right {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: inline;
    width: 80%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 15px;

}

.serch-input-right input{
    background-color: transparent;
    border: none;
    color: #8895a1;
    font-weight: bold;
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: inline;
    width: 70%;
    height: 80%;
    margin-right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 15px;

}

.serch-input-left {
    position: absolute;
    display: inline;
    width: 20%;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #fb815e;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    
}

.serch-input-left p {
    color: white;
    text-align: center;
    margin-top: 13px;
    font-size: 16px;
}

.serch-input-left:hover {
    background-color: #fa5a2c;
}

.serch-input-right-city {
    position: absolute;
    width: 30%;
    left: 0;
    height: 100%;
    color: #acadaf;
}

.serch-input-right-city p{
    position: absolute;
    right: 30%;
}

.down-button{
    position: absolute;
    left:  5px;
    top: 50%;
    transform: translate(0%, -50%);   
}

.pin {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(0%, -50%); 
    font-size: 12px;
}

.cards-container{ 
    margin-top: 100px;
    width: 100%;
    height: 240px;
    position: relative;
    margin-top: 5px;
}

.cards{ 
    position: absolute;
    height: 100%;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3b4157;
    font-size: 16px;

}

.show-more-container{
    color: #1780df;
    cursor: pointer;
}

.cards-container-title{
    position: absolute;
    right: 5px;
    font-weight: bold;
}

.show-more{
    position: absolute;
    left: 25px;
}

.left-arrow {
    position: absolute;
    top: 8%;
    left: 0px;
}

.show-more-container:hover{
    color: #fb815e;
}

.cards-grid { 
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;

}

.card {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 75px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125)!important;
    width: 125px;
    height: 150px;
    margin-right: 16px;
    position: relative;
    cursor: pointer;

}

.card-image-container {
    position: absolute;
    height: 85px;
    width: 90%;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
    border-radius: 10px;
}
.card-image-container img{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
}

.card p{
    
    position: absolute;
    bottom: -8px;
    width: 100%;
    text-align: center;
}

.card:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.emergency-services-container{
    margin-top: 100px;
    width: 100%;
    height: 650px;
    position: relative;
    margin-top: 5px;
    background-image: url(https://www.darmankade.com/_nuxt/img/75bb3ac.png);
    background-size: cover;
}

.emergency-services-container h1{
    color: white;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    position: absolute;
    top: 5%;
    text-align: center;
    
}

.emergency-services-container-main-box{
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: #3b4157;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto;
}

.emergency-service{
    height: 100%;
    position: relative;
    color: white;
    width: 100%;
}

.emergency-service img{
    position: absolute;
    top: -20px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.emergency-service h2{
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.emergency-service p{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    top: 55%;
    width: 80%;
    text-align: justify!important;
    font-size: 14px;
}

.emergency-service-button{
    position: absolute;
    width: 80%;
    border: 2px solid;
    border-radius: 10px;
    font-weight: 700!important;
    padding: 0.6rem;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: 10%;
    text-align: center;
    cursor: pointer;
}

.emergency-service-button svg{
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    box-sizing: border-box;
}

.emergency-service-button:hover{
    color: #1780df;
    background-color: white;
    transition-duration: 0.2s;
}

.application-container{
    margin-top: 100px;
    width: 100%;
    height: 800px;
    position: relative;
    margin-top: 5px;
    position: relative;
}

.application-container-main-box{
    position: absolute;
    height: 50%;
    width: 70%;
    min-width: 1000px;
    max-width: 1150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}



.application-container-main-box img{
    position: absolute;
    top: 0;
    right: 0;
    box-sizing: border-box;
    width: 480px;
}

.stores-container {
    position: absolute;
    bottom: 15px;
    right: 0;
    box-sizing: border-box;
    width: 480px;
    height: 50px;
}

.stores-container-main-box{
    width: 120px;
    height: 100%;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    display: grid;
    grid-template-columns: auto auto auto;
}

.stores-container-main-box img{
    margin-top: 10px;
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}

.application-form { 
    width: 480px;
    height: 254px;
    position: absolute;
    left: 0px;
    top: 50%;
    transform: translate(0%, -50%);
}

.application-form h1{ 
    color: #3b4157;
    font-size: 20px;
    font-weight: 700;
    font-family: iransans;
}

.application-form p{ 
    color: #6e7794;
    font-size: 16px;
    font-family: iransans;
}

.application-form h2{ 
    color: #3b4157;
    font-size: 16px;
    font-weight: 700;
    font-family: iransans;
    margin-top: 45px;
    box-sizing: border-box;

}
.phone-number{
    border-radius: 10px;
    height: 50px;
    width: 250px;
    margin-left: .25rem;
    box-shadow: 0 .125rem .25rem rgba(0,0,0,.075)!important;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    box-sizing: border-box;
    padding-right: 10px;
    box-sizing: border-box;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    outline: none;
    bottom: 10px;

}

.phone-number:focus{
    border: 1px solid #4996e2!important;
}

.phone-number-submit-container{
    background-color: #fb815e;
    border-radius: 10px;
    height: 48px;
    width: 150px;
    position: absolute;
    right: 260px;
    bottom: 10px;
    cursor: pointer;
}


.phone-number-submit-container svg{

    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    color: white;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 2;
}

.phone-number-submit-container-shadow{
    position: absolute;
    height: 100%;
    border-radius: 20px 10px 10px 20px;
    background-color: #fc9c81;
    z-index: 1;
    width: 60px;
    transition: all .5s;
}

.phone-number-submit-container p{
    text-align: center;
    position: absolute;
    left: 20%;
    top: 2px;
    font-size: 12px;
    color: white;
    z-index: 2;
}

.phone-number-submit-container:hover > .phone-number-submit-container-shadow{
    position: absolute; 
    border-radius: 10px 10px 10px 10px;
    background-color: #fc9c81;
    z-index: 1;    
    width: 150px;
}

.footer-container{
    height: 850px;
    width: 100%;
    background-color: #1780df;
    position: relative;
}

.footer-main-container{
    position: absolute;
    left: 50%;
    transform: translate(-50% , -0%);
    width: 50%;
    min-width: 1150px;
    height: 100%;
    text-align: center;
    color: white;
    font-size: 14px;
}

.darmankade-footer{ 
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50% , -0%);

}

.footer-image-description{
    position: relative;
    top: 110px;
}

.footer-column-right{
    top: 25%;
    position: absolute;
    width: 200px;
    height: 300px;
    padding: 0px 15px;
    box-sizing: border-box;

}

.footer-column-left{
    top: 25%;
    padding: 0px 15px;
    position: absolute;
    width: 200px;
    height: 300px;
    left: 0;
    box-sizing: border-box;

}

.column-item {
    color: white;
    padding: 10px 0px;
    border-top: 1px solid white;
    box-sizing: border-box;
    cursor: pointer;
}

.column-item:hover {
    color: #1780df;
    background-color: white;
}

.social-media-container{
    height: 265px;
    box-sizing: border-box;
    width: 370px;
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: 25%;
}

.social-media-container svg{
    color: white;
    width: 30px;  
    height: 30px; 
}

.twt-logo{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
}
.insta-logo{
    position: absolute;
    right: 10px;
}
.linkedin-logo{
    position: absolute;
    left: 10px;
}

.vertical-line{
    width: 0px;
    border-left: 1px solid white;
    height: 200px;
    position: absolute;
    left: 50%;
    bottom: 0;
    transform: translate(-50%,0);
}

.feed-description{
    position: absolute;
    bottom: 270px;
    left: 50%;
    transform: translate(-50%,0);
}

.feed-form{ 
    width: 390px;
    height: 130px;
    position: absolute;
    bottom: 140px;
    left: 50%;
    transform: translate(-50%,0);
    box-sizing: border-box;
}

.feed-form input{ 
    border-color: #1780df;
    outline: 0;
    box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px #1780df;
    color: #495057;
    background-color: #fff;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-weight: 400;
    line-height: 1.5;
    background-clip: padding-box;
    box-sizing: inherit;
    border-radius: 5px;
    height: 35px;
    width: 50%;
}
.name-input{
    position: absolute;
    right: 0;
}
.last-name-input{
    position: absolute;
    left: 0;
}
.email-input{
    width: 100%!important;
    position: absolute;
    top: 35px;
    right: 0;
}

.name-input:focus{
    box-shadow: none!important;
}
.last-name-input:focus{
    box-shadow: none!important;
}
.email-input:focus{
    box-shadow: none!important;
}


.feed-submit-container{
    background-color: #fb815e;
    border-radius: 10px;
    height: 48px;
    width: 100%;
    position: absolute; 
    bottom: 10px;
    cursor: pointer;
}


.feed-submit-container svg{

    position: absolute;
    right: 10px;
    width: 20px;
    height: 20px;
    color: white;
    top: 50%;
    transform: translate(-0%, -50%);
    z-index: 2;
}

.feed-submit-container-shadow{
    position: absolute;
    height: 100%;
    border-radius: 20px 10px 10px 20px;
    background-color: #fc9c81;
    z-index: 1;
    width: 60px;
    transition: all .5s;
}

.feed-submit-container p{
    position: absolute;
    left: 50%;
    transform: translate(-50%,0);
    top: -7px;
    font-size: 12px;
    color: white;
    font-size: 16px;
    font-weight: 400;
    z-index: 2;
}

.feed-submit-container:hover > .feed-submit-container-shadow{
    position: absolute; 
    border-radius: 10px 10px 10px 10px;
    background-color: #fc9c81;
    z-index: 1;    
    width: 100%;
}

.license-bar{
    height: 110px;
    position: absolute;
    bottom: 18px;
    width: 100%;
    justify-self: center;
}

.license-bar img{
    background-color: white;
    border-radius: 10px;
    margin-right: 10px;
    cursor: pointer;
}

.coment-container { 
    margin-top: 100px;
    width: 100%;
    height: 650px;
    position: relative;
    margin-top: 5px;
    position: relative;
}

.coment-container-mainbox {
    position: absolute;
    height: 100%;
    width: 70%;
    min-width: 1000px;
    max-width: 1150px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    box-sizing: border-box;
}
.comments-description{
    position: absolute;
    right: 0;
    top: 40%;
    width: 400px;
    font-size: 14px;
}
.coment-container-mainbox h1 {
    position: absolute;
    right: 0;
    top: 32%;
    width: 400px;
    font-size: 20px;
    font-weight: bold;
}

.comment-box{
    position: absolute;
    left: 0;
    top: 50%;
    transform: translate(0 , -55%);
    border: 1px solid #1780df;
    background-color: #e5f2fe;
    border-radius: 20px;
    height: 370px;
    width: 554px;
}

.comment-box-corner {
    
    position: absolute;
    width: 30px;
    height: 30px;
    border-top: 0;
    border-right: 1px solid #1780df;
    border-bottom: 1px solid #1780df;
    border-left: 0;
    bottom: -16px;
    left: 80px;
    content: "";
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
    background: #e5f2fe;
    z-index: 1;
}

.commenter { 
    position: absolute;
    left: 100px;
    transform: translate(-50% , 0);
    bottom: -70px;
}

.comment-box-doctor { 
    position: absolute;
    bottom: 0;
    border-top: 2px dashed #6e7794;
    width: 98%;
    height: 90px;
    margin: 0 auto;
    left: 5px;
    z-index: 10;
    box-sizing: border-box;
}
.comment-box-doctor img { 
    width: 75px;
    height: 75px;
    border-radius: 50%;
    position: absolute;
    top: 50%;
    transform: translate(0, -50%);
    right: 20px;
    box-sizing: border-box;
}

.comment-box-doctor h2 { 

    position: absolute;
    top: 10%;
    right: 110px;
    font-size: 14px;
    font-weight: bold;

}

.comment-box-doctor p { 

    position: absolute;
    top: 35%;
    right: 110px;
    font-size: 14px;

}

.comment-box-doctor a { 
    border-radius: 10px;
    text-align: center;
    width: 145px;
    height: 35px;
    color: white;
    font-size: 14px;
    background-color: #fb815e;
    box-sizing: border-box;
    padding: .375rem .75rem;
    position: absolute;
    top: 35%;
    left: 20px;
    cursor: pointer;
}
.comment-box-doctor a:hover { 

    background-color: #fa5a2c;
  
}

.comment { 
    color: #3b4157;
    width: 95%;
    position: absolute;
    top: 25px;
    right: 2.5%;
}

.comment-img {
    width: 50px;
    height: 45px;
    position: absolute;
    top: 0px;
    right: 20px;
    transform: translate(0 , -50%);
}