.search-bar-container{
    margin-top: 100px;
    width: 100%;
    height: 240px;
    position: relative;
}

.search-bar{
    position: absolute;
    background-image: url(https://www.darmankade.com/_nuxt/img/5ef8034.png);
    background-size: cover;
    background-color: #1780df;
    height: 100%;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border-radius: 20px!important;
} 

.search-bar h1{
    text-align: center;
    position: absolute;
    font-weight: 40px;
    color: white;
    width: 100%;
    margin-top: 40px;
    font-size: 40px ;
} 

.serch-input-group{
    position: absolute;
    width: 60%;
    height: 60px;
    left: 50%;
    top: 67%;
    transform: translate(-50%, -50%);
}

.serch-input-right {
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: inline;
    width: 80%;
    height: 100%;
    background-color: white;
    border-bottom-right-radius: 15px;

}

.serch-input-right input{
    background-color: transparent;
    border: none;
    color: #8895a1;
    font-weight: bold;
    z-index: 100;
    box-sizing: border-box;
    position: absolute;
    right: 0;
    display: inline;
    width: 70%;
    height: 80%;
    margin-right: 5px;
    top: 50%;
    transform: translate(0%, -50%);
    border-radius: 15px;

}

.serch-input-left {
    position: absolute;
    display: inline;
    width: 20%;
    left: 0;
    box-sizing: border-box;
    height: 100%;
    background-color: #fb815e;
    border-radius: 15px 0 0 15px;
    cursor: pointer;
    
}

.serch-input-left p {
    color: white;
    text-align: center;
    margin-top: 13px;
    font-size: 16px;
}

.serch-input-left:hover {
    background-color: #fa5a2c;
}

.serch-input-right-city {
    position: relative;
    width: 30%;
    left: 0;
    height: 100%;
    color: #acadaf;
}

.serch-input-right-city p{
    position: absolute;
    right: 30%;
}

.down-button{
    position: absolute;
    left:  5px;
    top: 50%;
    transform: translate(0%, -50%);   
}

.pin {
    position: absolute;
    right: 7px;
    top: 50%;
    transform: translate(0%, -50%); 
    font-size: 12px;
}

.cards-container{ 
    margin-top: 100px;
    width: 100%;
    height: 240px;
    position: relative;
    margin-top: 5px;
}

.cards{ 
    position: absolute;
    height: 100%;
    width: 60%;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    color: #3b4157;
    font-size: 16px;

}

.show-more-container{
    color: #1780df;
    cursor: pointer;
}

.cards-container-title{
    position: absolute;
    right: 5px;
    font-weight: bold;
}

.show-more{
    position: absolute;
    left: 25px;
}

.left-arrow {
    position: absolute;
    top: 8%;
    left: 0px;
}

.show-more-container:hover{
    color: #fb815e;
}

.cards-grid { 
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto;

}

.card {
    display: inline-block;
    box-sizing: border-box;
    margin-top: 75px;
    border-radius: 10px;
    border: 1px solid rgba(0,0,0,.125)!important;
    width: 125px;
    height: 150px;
    margin-right: 16px;
    position: relative;
    cursor: pointer;

}

.card-image-container {
    position: absolute;
    height: 85px;
    width: 90%;
    left: 50%;
    top: 10px;
    transform: translate(-50%, 0%);
    border-radius: 10px;
}
.card-image-container img{
    position: absolute;
    left: 50%;
    top: 50px;
    transform: translate(-50%, -50%);
}

.card p{
    
    position: absolute;
    bottom: -8px;
    width: 100%;
    text-align: center;
}

.card:hover {
    box-shadow: 0 3px 6px 0 rgba(0,0,0,.16);
}

.emergency-services-container{
    margin-top: 100px;
    width: 100%;
    height: 650px;
    position: relative;
    margin-top: 5px;
    background-image: url(https://www.darmankade.com/_nuxt/img/75bb3ac.png);
    background-size: cover;
}

.emergency-services-container h1{
    color: white;
    font-weight: bold;
    font-size: 28px;
    width: 100%;
    position: absolute;
    top: 5%;
    text-align: center;
    
}

.emergency-services-container-main-box{
    position: absolute;
    bottom: 0;
    height: 80%;
    width: 40%;
    left: 50%;
    transform: translate(-50%, -0%);
    color: #3b4157;
    font-size: 16px;
    display: grid;
    grid-template-columns: auto auto;
}

.emergency-service{
    height: 100%;
    position: relative;
    color: white;
    width: 100%;
}

.emergency-service img{
    position: absolute;
    top: -20px;
    width: 90%;
    left: 50%;
    transform: translate(-50%, -0%);
}

.emergency-service h2{
    font-weight: bold;
    font-size: 18px;
    position: absolute;
    top: 45%;
    width: 100%;
    text-align: center;
}

.emergency-service p{
    width: 200px;
    position: absolute;
    left: 50%;
    transform: translate(-50%, -0%);
    top: 55%;
    width: 80%;
    text-align: justify!important;
    font-size: 14px;
}

.emergency-service-button{
    position: absolute;
    width: 80%;
    border: 2px solid;
    border-radius: 10px;
    font-weight: 700!important;
    padding: 0.6rem;
    left: 50%;
    transform: translate(-50%, -0%);
    bottom: 10%;
    text-align: center;
    cursor: pointer;
}

.emergency-service-button svg{
    position: absolute;
    top: 50%;
    transform: translate(-0%, -50%);
    box-sizing: border-box;
}

.emergency-service-button:hover{
    color: #1780df;
    background-color: white;
    transition-duration: 0.2s;
}